body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto 1fr 1fr auto;
}

header {
  background-color: black;
  color: red;
  text-align: center;
  font-weight: bolder;
}

#name{
  color: rgba(255, 255, 255, 0.925);
}

#nav-header {
  text-decoration: none;
  padding-left: 6em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  height: 3rem;
  width: 100%;

}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;  
  margin: 0;
  padding: 0;
}

.nav-item {
  padding-left: 1rem;
}

.dropdown {
  position: absolute;
  width: 10rem;
  opacity: 0;
  z-index: 2;
  background: orange;

  border-radius: 0 0 8px 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  margin-top: 1rem;
  padding: 0.5rem;
  transition: opacity 0.15s ease-out;
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}

#DmNav {
  background-color: purple;
  color: white;
  width: 100%;
}

#playernav {
  background-color: orange;
  color: black;
  width: 100%;
}

/* General color scheme for the two sides */
/*.dm-side {
  background-color: purple;
  color: white;
  grid-column: 1;
} */

.player-side {
  background-color: orange;
  color: black;
}

.player-side-link {
  text-decoration: none;
  color: black;
}

.dm-side-link {
  text-decoration: none;
  color: white;
}

.spliting-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

/* Cards */

.card {
  position: relative;
  border: 1px solid #e0dcdc;
  padding: 15px 15px 35px;
  margin-bottom: 60px;
  height: auto;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}


#bob-background {
  background-image: url(/content/Bob.png);
}

#rún-background {
  background-image: url(/content/Rún.jpg);
}

#aias-background {
  background-image: url(/content/Aias.jpg);
}

#george-background{
  background-image: url(/content/George.png);
}

#alie-background{
  background-image: url(/content/Alie.png);
}

#thelar-background{
  background-image: url(/content/Thelar.png);
}

.card-background {
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.card-body {
  z-index: 2;
  position: relative;
  height: auto;
  padding: 8px;
  border: 1px solid #e0dcdc;
  background: rgba(250, 250, 250, 0.8);
  width: 60%;
}

.card-header {
  display: flex;
  -ms-flex-pack: justify;
  padding-bottom: 8px;
}

.card-icon {
  border-radius: 4px;
  height: 50px;
  margin-right: 10px;
}

.card-main-header {
  border-bottom: 2px solid #ee8600;
}
.charachter-name{
  font-size: 25px;
  margin: 0;
}

.class{
  color: #979AA4;
  margin: 0;
}

.topic{
  font-weight: bolder;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #ee8600; 
  color: white;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  width: 220px;
  position: absolute;
  bottom: -20px;
  z-index: 9;
  left: 55%;
}

.card-button:hover{
  background-color: #ff9e22;
}
/* footer */

footer {
}



/* Media querrys */

@media (max-width: 1025px){

  body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto 1fr 1fr 1fr auto;
  }

  .spliting-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }

  .card {
    position: relative;
    border: 1px solid #e0dcdc;
    padding: 15px 15px 35px;
    margin-bottom: 60px;
    height: auto;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ff7f27;
    
  }

}

@media (max-width: 701px)
{

  .card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #ee8600; 
    color: white;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    width: 220px;
    position: absolute;
    bottom: -20px;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
  }

}