body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
}

#homeLink{
  text-decoration: none;
}

header {
  background-color: black;
  
  text-align: center;
  font-weight: bolder;
}



#name{
  color: rgba(255, 255, 255, 0.925);
  margin: 0;
}

#sub-header{
  color: red;
  margin: 0;
  margin-bottom: 0.5em;
}

#nav-header {
  text-decoration: none;
  padding-left: 1em;
  padding-top: 0.4em;
  border-left: solid black 1px;
  border-right: solid black 1px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 3rem;
  width: 100%;
  background-color: grey;
  margin-bottom: 1em;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  height: 100%;  
  margin: 0;
  padding: 0;
}

.nav-item {
  padding: 0.5rem;
  border-right: solid black 1px;
}

.dropdown {
  position: absolute;
  width: 10rem;
  opacity: 0;
  z-index: 3;
  background: orange;

  border-radius: 0 0 8px 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  margin-top: 1rem;
  padding: 0.5rem;
  transition: opacity 0.15s ease-out;
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}



#playernav {
  background-color: grey;
  color: black;
  width: 100%;
}

/* General color scheme for the two sides */
/*

#DmNav {
  background-color: purple;
  color: white;
  width: 100%;
}

.dm-side {
  background-color: purple;
  color: white;
  grid-column: 1;
} 



.dm-side-link {
  text-decoration: none;
  color: white;
}
*/

.player-side {
  background-color: orange;
  color: black;
}

.player-side-link {
  text-decoration: none;
  color: black;
}

/* About me */

#aboutMe {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-left: 15%;
  margin-right: 15%;
  grid-gap: 1em;
  padding: 1em;
  border: 1px solid orange;
  margin-bottom: 2em;
}

#aboutMe-header{
  padding: 0;
  margin: 0;
  grid-column: 1/3;
  grid-row: 1;
  text-align: center;
}

.aboutMe-topics {
  font-weight: bolder;
  font-size: 1em;
}




/* Cards */

.spliting-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  position: relative;
  border: 1px solid #e0dcdc;
  padding: 15px 15px 35px;
  margin-bottom: 60px;
  height: auto;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}


#bob-background {
  background-image: url(../content/Bob.png);
}

#run-background {
  background-image: url(../content/Rún.jpg);
}

#aias-background {
  background-image: url(../content/Aias.jpg);
}

#george-background{
  background-image: url(../content/George.png);
}

#alie-background{
  background-image: url(../content/Alie.png);
}

#thelar-background{
  background-image: url(../content/Thelar.png);
}

.card-background {
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 1;
}

.card-body {
  z-index: 2;
  position: relative;
  height: auto;
  padding: 8px;
  border: 1px solid #e0dcdc;
  background: rgba(250, 250, 250, 0.8);
  width: 60%;
}

.card-header {
  display: flex;
  -ms-flex-pack: justify;
  padding-bottom: 8px;
}

.card-icon {
  border-radius: 4px;
  height: 50px;
  margin-right: 10px;
}

.card-main-header {
  border-bottom: 2px solid #ee8600;
}
.charachter-name{
  font-size: 25px;
  margin: 0;
}

.class{
  color: #979AA4;
  margin: 0;
}

.topic{
  font-weight: bolder;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #ee8600; 
  color: white;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  width: 220px;
  position: absolute;
  bottom: -20px;
  z-index: 1;
  left: 55%;
  border: solid black 1px;
}

.card-button:hover{
  background-color: #ff9e22;
}
/* footer */

footer {
  background-color: black;
  color: gray;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

#footer-header{
  color: red;
}

#footer-header-name{
  color: white;
}

#standard-copyright
{
  padding-bottom: 0.5em;
}

#copyright-stuff 
{
  grid-row: 2;
  grid-column: 1;
  
}

#contact-me{
  grid-row: 1/3;
  grid-column: 2;
  align-self: center;
  text-align: end;
  color: white;
  font-weight: bold;
}

#contact{
  grid-row: 1/3;
  grid-column: 3;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  padding-left: 1em;
}

.contact-link
{
  grid-row: 2;

  display: flex;
  flex-direction: column;
  align-self: center;
  text-decoration: none;  
}

.link1
{
  text-decoration: none;
  color: red;
}

.link2
{
  text-decoration: none;
  color: white;
}





/* Media querrys */

@media (max-width: 1023px){

  body 
  {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .spliting-container
  {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }

  .card 
  {
    position: relative;
    border: 1px solid #e0dcdc;
    padding: 15px 15px 35px;
    margin-bottom: 60px;
    height: auto;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #ff7f27;
  }

}

@media (max-width: 1324px)
{

  .card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #ee8600; 
    color: white;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    width: 220px;
    position: absolute;
    bottom: -20px;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media (max-width: 768px)
{
  #aboutMe {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto;
    margin-left: 15%;
    margin-right: 15%;
    grid-gap: 1em;
    padding: 1em;
    border: 1px solid orange;
    margin-bottom: 2em;
  }
  
  #aboutMe-header{
    padding: 0;
    margin: 0;
    grid-row: 1;
    grid-column: 1;
    text-align: center;
  }
}

@media (max-width: 560px)
{
  .dropdown {
    position: absolute;
    width: 3rem;
    opacity: 0;
    z-index: 3;
    background: orange;
  
    border-radius: 0 0 8px 8px;
  
    display: table;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    transition: opacity 0.15s ease-out;
  }

  .dropdown li {
    border: 1px solid black;
    margin-top: 1em;
    padding: 0.2em;
  }
 

}