body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

nav {
  height: 50px;
  width: 100%;
  background-color: black;

  color: brown;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.nav-item {
  padding-left: 1em;
}

.dropdown {
  position: absolute;
  width: 130px;
  opacity: 0;
  z-index: 2;
  background: orange;

  border-radius: 0 0 8px 8px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  margin-top: 1rem;
  padding: 0.5rem;

  transition: opacity 0.15s ease-out;
}

.has-dropdown:focus-within .dropdown {
  opacity: 1;
  pointer-events: auto;
}
